

<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    
  </div>
  <div class="meta">
    <p class="post_text">{{post_url}}</p>  
    {{vote_count}} {{format_plural "point" vote_count}}  by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>