<div class="questions">
  <article class="questionbox card">

 
    <div >
      <div class="meta">
        <h3 class="card-body question_text">{{question_url}}</h3>
        asked by {{user.username}} on {{format_date created_at}}
        |
        <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
      </div>
    </div>
  </article>
</div>


