
<div class="questions">
  <article class="card">
      {{!-- <div>
        <h2>
          <a href="/question/{{id}}">{{title}}</a>
        </h2>
      </div> --}}
 
    <div >
      <div class="meta">
        <h3 class="card-body question_text">{{question_url}}</h3>
        questioned by {{user.username}} on {{format_date created_at}}
        |
        <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
      </div>
    </div>
  </article>
</div>



{{!-- <div class="questions">
  {{#each questions}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/question/{{id}}">{{title}}</a>
      </h2>
      <div>
        questioned by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div> --}}