<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
        <h2>
            Answer Question
        </h2>
    <form class="edit-question-form">
        <div>
            <input name="question-title" type="text" value="{{question.title}}" />
        </div>
        
         <div>
            <textarea class="text-area" name="question-content">{{question.question_url}}</textarea>
        </div>
        <div>
            {{question.vote_count}} {{format_plural "point" question.vote_count}} by you on {{format_date question.created_at}}
            |
            <a href="/question/{{question.id}}">{{question.answers.length}} {{format_plural "answer" question.answers.length}}</a>
        </div>
        <button class="save" type="submit">Save question</button>
        {{!-- <button type="button" class="delete-question-btn">Delete question</button> --}}
    </form>
</article>

<form class="answer-form">
    <div>
        <textarea name="answer-body"></textarea>
    </div>

    <div>
        <button class="login_btn" type="submit">add answer</button>
    </div>
</form>

{{> answers question.answers}}
<script src="/javascript/edit-question.js"></script>
<script src="/javascript/delete-question.js"></script>
<script src="/javascript/answer.js"></script>