
    {{!-- <form class="card edit-question-form">    
         <div>
            <textarea class="card-body text-area" name="question-content">{{question.question_url}}</textarea>
        </div>
        <div>
            {{question.vote_count}} {{format_plural "point" question.vote_count}} by you on {{format_date question.created_at}}
            |
            <a href="/question/{{question.id}}">{{question.answers.length}} {{format_plural "answer" question.answers.length}}</a>
        </div>
        <button class="card-footer save" type="submit">save question</button>
        <button type="button" class="delete-question-btn">Delete question</button>
    </form> --}}
<div class="card answerbox">
    <a class="dash" href="/dashboard"> &larr; Back to dashboard</a>
        <h2 class="ask card-header ">
            Answer Question
        </h2>
<form class="card answer-form">
    <div>
        <textarea class="card-body" name="answer-body"></textarea>
    </div>

    <div>
        <button class="card-footer" type="submit">submit wisdom</button>
    </div>
</form>
</div>
{{> answers question.answers}}
<script src="/javascript/edit-question.js"></script>
{{!-- <script src="/javascript/delete-question.js"></script> --}}
<script src="/javascript/answer.js"></script>