<div class="question-list">
    {{#each questions as |question|}}
    <div>
        <article class="dashquestion">
            <div>
                <a href="/post/{{question.id}}" target="_blank"></a>
                <span>({{question.question_url}})</span>
            </div>
            <div class="meta">
                {{question.vote_count}} Like(s) by {{question.user.username}} on
                {{format_date question.created_at}}
                |
                <a href="/question/{{question.id}}">{{question.answers.length}} Answer(s)</a>
            </div>
        </article>
    </div>
    <ol class="question-list">
        {{#each questions as |question|}}
        <li>
            {{> question-info question }}
        </li>
        {{/each}}
    </ol>
    {{/each}}
</div>