{{!-- <ol class="question-list">
    {{#each questions as |question|}}
    
        {{> question-info question }}
    
    {{/each}}
</ol>
<ol class="question-list">
    <div class="questions">
        {{#each questions}}
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="/question/{{id}}">{{title}}</a>
                </h2>
                <div>
                    questioned by {{User.username}} on {{format_date createdAt}}
                </div>
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </article>
        {{/each}}
    </div>
</ol>

<div class="questions">
  {{#each questions}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/question/{{id}}">{{title}}</a>
      </h2>
      <div>
        questioned by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div> --}}

 <header class="header">
            <nav class="nav">
                <a class= "live-chat" href="/chat">live chat</a>
                <h1 class="websiteTitle">
                    <i class="fas fa-hat-wizard"></i> 
                </h1>
                <a class="main_login_btn" href="/login">login</a>
            </nav>
</header>
<ol class="question-list">
    {{#each questions as |question|}}
    <li>
        <article class="question">
            <div>
                <a href="/post/{{question.id}}" target="_blank"></a>
                <span>({{question.question_url}})</span>
            </div>
            <div class="meta">
                {{question.vote_count}} Like(s) by {{question.user.username}} on
                {{format_date question.created_at}}
                |
                <a href="/question/{{question.id}}">{{question.answers.length}} Answer(s)</a>
            </div>
        </article>
    </li>
    <ol class="question-list">
        {{#each questions as |question|}}
        <li>
            {{> question-info question }}
        </li>
        {{/each}}
    </ol>
    {{/each}}
</ol>