<div class="question-list">
    {{#each questions as |question|}}

    <div>
        <article class="dashquestion">
            <div>
                <a href="/post/{{question.id}}" target="_blank"></a>
                <span>{{question.question_url}}</span>
            </div>
            <div class="meta">
                {{question.vote_count}} Like(s) by {{question.user.username}} on
                {{format_date question.created_at}}
                |

                <div>
                    <a href="/question/{{question.id}}">{{question.answers.length}} Answer(s)</a>
                </div>
            </div>
            {{#if ../admin}}
            <form class="card answer-form">
                <div>
                    <textarea class="card-body" name="answer-body"></textarea>
                </div>
                <div>
                    <button class="card-footer addanswer" type="submit">add answer</button>
                    {{!-- <button type="button" class="upvote-btn">upvote</button> --}}
                </div>
            </form>
 
            {{/if}}
        </article>
    </div>
    <ol class="question-list">
        {{#each questions as |question|}}
        <li>
            {{> question-info question }}
        </li>
        {{/each}}
    </ol>
    {{/each}}
</div>

<script src="/javascript/answer.js"></script>